/*Añadir fuete AudioWide de google fonts*/
@import url(https://fonts.google.com/specimen/Audiowide);

:root { /* Para Importar colores*/
    --color_fondo_principal: #f3fdbc;
    --color_fondo_menú_nav: #f1b4b8;
    --color_títulos: #2d07fb;
    --color_border_discontinuo: #ff9e26;
}

body {
    box-sizing: border-box; /* Hace que las propiedades widht y height incluyen el borde y el relleno. */
    margin: 0 auto; /* Para centrar contenedores en la página horizontalmente*/
    background-color: var(--color_fondo_principal);
}

header,main,footer {
    max-width: 600px;
}

header h1 {
    font-family: AudioWide; /* Fuente AudioWide para los h1 dentro de la cabecera */
    text-align: center; /*Centrado de texto de h1*/
    color: var(--color_títulos);
}

p {
    font-family: Arial; /* Todos los párrafos con fuente Arial */
}

header nav { /* Menú de la navegación de la cabecera */
    background-color: var(--color_fondo_menú_nav);
}

header nav ul {
    padding-left: 20px; /* Cambio de relleno de bloque lista */
}

header nav li {
    list-style-type: none; /* Quitamos el punto de la viñeta*/
    float: left;
    margin-right: 20px;
    margin-left: 0;
    padding: 16px 0 16px 8px;
}

/*Enlaces de la barra de navegación sin subrayar */
a {
    text-decoration: none; /* Para quitar la decoración a todos los web enlaces*/
}

header nav::after {
    display: block;
    content: "";
    clear: both;
}

#destacado {
    border: dashed 2px var(--color_border_discontinuo); /*Borde líneas discontínuas color naranja*/
    padding: 10px;
}