/*Añadir fuete AudioWide de google fonts*/
@import url(https://fonts.google.com/specimen/Audiowide);

:root { /* Para Importar colores*/
    --color_fondo_principal: #f3fdbc;
    --color_fondo_menú_nav: #f1b4b8;
    --color_títulos: #2d07fb;
    --color_border_discontinuo: #ff9e26;
    --color_fondo_enlace_selec: #eeeeee; 
    --color_enlace_seleccionado: #ff0000;
    --color_texto: #008000; 
}

body {
    width: 80%;
    box-sizing: border-box; /* Hace que las propiedades widht y height incluyen el borde y el relleno. */
    margin: 0 auto; /* Para centrar contenedores en la página horizontalmente*/
    background-color: var(--color_fondo_principal);
}



header h1 {
    font-family: AudioWide; /* Fuente AudioWide para los h1 dentro de la cabecera */
    text-align: center; /*Centrado de texto de h1*/
    color: var(--color_títulos);
}

p {
    font-family: Arial; /* Todos los párrafos con fuente Arial */
}

header nav { /* Menú de la navegación de la cabecera */
    background-color: var(--color_fondo_menú_nav);
}

header nav ul {
    padding-left: 0px; /* Cambio de relleno de bloque lista */
}

header nav li {
    list-style-type: none; /* Quitamos el punto de la viñeta*/
    float: left;
    margin-left: 0;
    padding: 16px 10px 16px 10px;
}

header nav li:hover { /* Cambio de fondo y color de fouente al pasar el cursor por encima */
    background-color: var(--color_fondo_enlace_selec);
    color: var(--color_enlace_seleccionado);
    transition: background-color 0.3s;
}

/*Enlaces de la barra de navegación sin subrayar */
a {
    text-decoration: none; /* Para quitar la decoración a todos los web enlaces*/
}

header nav::after {
    display: block;
    content: "";
    clear: both;
}

#destacado {
    border-style: dashed 2px var(--color_border_discontinuo); /*Borde líneas discontínuas color naranja*/
    border-color: blue;
    padding: 10px;
    background-color: #ffffcc;
}

.centrado {
    margin: 0 auto;
    display: inline-block;
}

.caja {
    border: solid 2px blue;
    display: inline-block;
    margin: 15px;
    vertical-align: middle; /* Sirve para poner la caja centrada */
    color: green;
    padding: 15px;    
}

.caja img {
    width: 100px;
}

.caja p:first-child {
    font-weight: bold;
    text-decoration: underline;
}

.izquierda {
    float: left;
}

.caja p:nth-of-type(2) {
    clear: both;
    padding: 5px;
}

.derecha {
    float: right;
    margin-right: 15px;
}

footer p:last-child {
    font-style: italic;
    color: gray;
}

aside {
    float: right;
}